:root {
  --nav-color: #073072;
  --main-color1:#063F96;
  --main-color2: rgba(6, 63, 150, 0.25);
  --text-color1: #ACF1FF;
  --text-color2: #E3FFF3;
}

@font-face {
  font-family: "Metropolis";
  src: url("https://github.com/chrismsimpson/Metropolis/blob/master/Fonts/Webfonts/WOFF/Metropolis-Regular.woff") format("woff"),
}

html { font-size: calc(1em + 1vw) }

.navbar-default{
  background: var(--nav-color);
  height: 75px;
  border:none;
}

.navbar-brand{
  .span{
    color: var(--text-color1);
  }
  img{height: 45px;}
  padding-left: 7.5vw;
}

body{
  padding-top: 55px;
  max-width: 100vw;
}

#header{
  background: var(--main-color1);
  height: 80vh;
  #head-content{
    padding-left: 7.5vw;
    padding-top:7.5vw;
    padding-bottom: 7.5vw;
    max-width: 100vw;
    h1{
      color: var(--text-color2);
      font-family: Inter;
      font-style: normal;
      font-weight: bold;
      font-size: 5em;
    }

    h3{
      color: var(--text-color1);
      font-family: Inter;
      font-style: normal;
      font-weight: bold;
      font-size: 1.5em;
    }
  }
  button{
    margin-top: 10px;
    padding: 10px;
    background-color: transparent;
    border: solid 3px var(--text-color1);
    color: var(--text-color1);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2.5vh;
    font-weight: bold;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  button:hover {
    background-color: var(--text-color1);
    color: var(--main-color1);
  }
}

#about-me{
  background: var(--main-color2);
  height: 90vh;
  padding-left: 7.5vw;
}

#projects{
  background: var(--main-color1);
  height: 90vh;
}

#experience{
  background: var(--main-color2);
  height: 90vh;
}