---
import Layout from '../layouts/Layout.astro';
import Header from '../components/layout/Header.astro'
import Intro from '../components/sections/Intro.astro'
import About from '../components/sections/About.astro'
import ExperienceSection from "../components/sections/ExperienceSection.vue"
---

<Layout>
	<Header />
	<main>
		<Intro />
		<About />
		<ExperienceSection client:load />
	</main>
</Layout>
