---
import phillySkyline from '../../assets/philly-sketch.png';
import { Image } from 'astro:assets';
---

<section class="section intro" id="intro">
    <Image src={phillySkyline} alt="" class="skyline" loading="eager"/>
    <h1>
        Hello! My name is <span class="highlight">Sujan</span>. I'm a software
        engineer and urban spatial analytics masters student.
    </h1>
</section>

<style>
    .intro {
        position: relative;
        min-height: 50vh;
        display: flex;
        align-items: center;
        background: #f5f5f5;
    }

    .skyline {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%; /* Add this */
        height: 100%;
        object-fit: cover;
        object-position: bottom;
        opacity: 0.2;
    }

    .highlight {
        color: #073072;
        text-decoration: underline 8px #073072;
        font-weight: 500;
    }

    @media (max-width: 768px) {
        .intro {
            padding: 2rem 1rem;
        }
    }
</style>