---
title: Sujan Kakumanu
---

<!DOCTYPE html>
<html lang="en">

  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="/stylesheets/site.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Inter:400,700&display=swap" rel="stylesheet"> 
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <a class="navbar-brand" href="#">
        <img src="/images/sk_icon.svg" alt="">
      </a>
    </nav>

    <div id = 'header'>
      <div id = 'head-content'>
        <h3>Hello, my name is<h2>
        <h1>Sujan Kakumanu</h1>
        <h3>I’m currently a Computer Science & Engineering student <br/> with a City Planning minor at Ohio State University.</h3>
        <button type="button">My Resume</button> &nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button">Contact Me</button>  
      </div>
    </div>

    <div id = 'about-me'>
    </div>

    <div id = 'projects'>
    </div>

    <div id = 'experience'>
    </div>
  </body>

</html>
